<div class="container">
  <!-- <p>Interpolación</p>
  <p>{{ nombre }}</p> -->

  <!-- <p>Property binding</p>
  <img [src]="urlImagen" width="600" />

  <input type="text" [placeholder]="textoEjemplo" [disabled]="isDisabled">

  <p>Event binding</p> -->
  <!-- <button (click)="cambiarNombre()">Click me!</button> -->
  <!-- <button (click)="deshabilitarInput()">Disabled</button> -->

  <!-- <br> -->

  <!-- <p>@Input: Padre-Hijo</p> -->
  <!-- <app-card [textCard]="nombre"></app-card> -->

  <p>Two way data binding @Input - @Output</p>
  <h2 *ngIf="toggle">{{ texto }}</h2>
  <h3 style="color: red;" *ngIf="texto === ''">Por favor ingresa un texto</h3>
  <button (click)="toggleClick()">Toggle</button>
  <app-card [(nuevoTexto)]="texto"></app-card>
</div>